.statistics {
  display: flex;
  width: calc(100% / 4);
}

.stat-list {
  padding-inline-start: 0;
}
/* 
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 5);
} */
